<div>
    <h2>
        <span jhiTranslate="jhipsterSampleApplicationApp.tweet.home.title">Tweets</span>
        <button class="btn btn-primary float-right jh-create-entity create-tweet" [routerLink]="['/', { outlets: { popup: ['tweet-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jhipsterSampleApplicationApp.tweet.home.createLabel">
            Create new Tweet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhipsterSampleApplicationApp.tweet.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tweets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tweetId"><span jhiTranslate="jhipsterSampleApplicationApp.tweet.tweetId">Tweet Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tweetData"><span jhiTranslate="jhipsterSampleApplicationApp.tweet.tweetData">Tweet Data</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tweetGeo"><span jhiTranslate="jhipsterSampleApplicationApp.tweet.tweetGeo">Tweet Geo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="content"><span jhiTranslate="jhipsterSampleApplicationApp.tweet.content">Content</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userid"><span jhiTranslate="jhipsterSampleApplicationApp.tweet.userid">Userid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sentiment"><span jhiTranslate="jhipsterSampleApplicationApp.tweet.sentiment">Sentiment</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="categoria.id"><span jhiTranslate="jhipsterSampleApplicationApp.tweet.categoria">Categoria</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tenplate.id"><span jhiTranslate="jhipsterSampleApplicationApp.tweet.tenplate">Tenplate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="job.id"><span jhiTranslate="jhipsterSampleApplicationApp.tweet.job">Job</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tweet of tweets ;trackBy: trackId">
                <td><a [routerLink]="['../tweet', tweet.id ]">{{tweet.id}}</a></td>
                <td>{{tweet.tweetId}}</td>
                <td>{{tweet.tweetData | date:'medium'}}</td>
                <td>{{tweet.tweetGeo}}</td>
                <td>{{tweet.content}}</td>
                <td>{{tweet.userid}}</td>
                <td jhiTranslate="{{'jhipsterSampleApplicationApp.Sentiment.' + tweet.sentiment}}">{{tweet.sentiment}}</td>
                <td>
                    <div *ngIf="tweet.categoria">
                        <a [routerLink]="['../tweet-category', tweet.categoria?.id ]" >{{tweet.categoria?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tweet.tenplate">
                        <a [routerLink]="['../tweet-template', tweet.tenplate?.id ]" >{{tweet.tenplate?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tweet.job">
                        <a [routerLink]="['../job', tweet.job?.id ]" >{{tweet.job?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tweet', tweet.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tweet/'+ tweet.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tweet/'+ tweet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tweets && tweets.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
