<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-dimension-heading" jhiTranslate="jhipsterSampleApplicationApp.dimension.home.createOrEditLabel">Create or edit a Dimension</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dimension.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="dimension.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.dimension.us" for="field_us">Us</label>
                    <select class="form-control" name="us" [(ngModel)]="dimension.us" id="field_us" >
                        <option value="MM">{{'jhipsterSampleApplicationApp.UnitSystem.MM' | translate}}</option>
                        <option value="INCH">{{'jhipsterSampleApplicationApp.UnitSystem.INCH' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.dimension.x" for="field_x">X</label>
                    <input type="number" class="form-control" name="x" id="field_x"
                        [(ngModel)]="dimension.x" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.dimension.y" for="field_y">Y</label>
                    <input type="number" class="form-control" name="y" id="field_y"
                        [(ngModel)]="dimension.y" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.dimension.z" for="field_z">Z</label>
                    <input type="number" class="form-control" name="z" id="field_z"
                        [(ngModel)]="dimension.z" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
