<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dimension">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.dimension.detail.title">Dimension</span> {{dimension.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.dimension.us">Us</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterSampleApplicationApp.UnitSystem.' + dimension.us}}">{{dimension.us}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.dimension.x">X</span></dt>
                <dd>
                    <span>{{dimension.x}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.dimension.y">Y</span></dt>
                <dd>
                    <span>{{dimension.y}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.dimension.z">Z</span></dt>
                <dd>
                    <span>{{dimension.z}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dimension', dimension.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
