<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.orderHistory.home.title">Order Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-history" [routerLink]="['/order-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="jhipsterSampleApplicationApp.orderHistory.home.createLabel">
            Create new Order History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhipsterSampleApplicationApp.orderHistory.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="orderHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="state"><span jhiTranslate="jhipsterSampleApplicationApp.orderHistory.state">State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="jhipsterSampleApplicationApp.orderHistory.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="byId"><span jhiTranslate="jhipsterSampleApplicationApp.orderHistory.by">By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceOrderId"><span jhiTranslate="jhipsterSampleApplicationApp.orderHistory.serviceOrder">Service Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="taskOrderId"><span jhiTranslate="jhipsterSampleApplicationApp.orderHistory.taskOrder">Task Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderHistory of orderHistories ;trackBy: trackId">
                <td><a [routerLink]="['/order-history', orderHistory.id, 'view' ]">{{orderHistory.id}}</a></td>
                <td jhiTranslate="{{'jhipsterSampleApplicationApp.OrderState.' + orderHistory.state}}">{{orderHistory.state}}</td>
                <td>{{orderHistory.date | date:'medium'}}</td>
                <td>
                    <div *ngIf="orderHistory.byId">
                        <a [routerLink]="['../amsa-user', orderHistory.byId , 'view' ]" >{{orderHistory.byId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderHistory.serviceOrderId">
                        <a [routerLink]="['../service-order', orderHistory.serviceOrderId , 'view' ]" >{{orderHistory.serviceOrderId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderHistory.taskOrderId">
                        <a [routerLink]="['../task-order', orderHistory.taskOrderId , 'view' ]" >{{orderHistory.taskOrderId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/order-history', orderHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-history', orderHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-history/'+ orderHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="orderHistories && orderHistories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
