<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="material">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.material.detail.title">Material</span> {{material.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.material.code">Code</span></dt>
                <dd>
                    <span>{{material.code}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.material.name">Name</span></dt>
                <dd>
                    <span>{{material.name}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.material.description">Description</span></dt>
                <dd>
                    <span>{{material.description}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.material.image">Image</span></dt>
                <dd>
                    <div *ngIf="material.imageId">
                        <a [routerLink]="['/document', material.imageId, 'view']">{{material.imageId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.material.resource">Resource</span></dt>
                <dd>
                    <div *ngIf="material.resourceId">
                        <a [routerLink]="['/resource', material.resourceId, 'view']">{{material.resourceId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material', material.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
