<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-resource-heading" jhiTranslate="jhipsterSampleApplicationApp.resource.home.createOrEditLabel">Create or edit a Resource</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!resource.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="resource.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.resource.accuracy" for="field_accuracy">Accuracy</label>
                    <input type="text" class="form-control" name="accuracy" id="field_accuracy"
                        [(ngModel)]="resource.accuracy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.resource.portable" for="field_portable" [ngbTooltip]="'jhipsterSampleApplicationApp.resource.help.portable' | translate">Portable</label>
                    <input type="checkbox" class="form-control" name="portable" id="field_portable"
                        [(ngModel)]="resource.portable" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.resource.machineModel" for="field_machineModel">Machine Model</label>
                    <select class="form-control" id="field_machineModel" name="machineModel" [(ngModel)]="resource.machineModelId"  required>
                        <option *ngIf="!editForm.value.machineModel" [ngValue]="null" selected></option>
                        <option [ngValue]="machineModelOption.id" *ngFor="let machineModelOption of machinemodels; trackBy: trackMachineModelById">{{machineModelOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.machineModel?.dirty && editForm.controls.machineModel?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.machineModel?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.resource.workVolume" for="field_workVolume">Work Volume</label>
                    <select class="form-control" id="field_workVolume" name="workVolume" [(ngModel)]="resource.workVolumeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dimensionOption.id" *ngFor="let dimensionOption of dimensions; trackBy: trackDimensionById">{{dimensionOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.resource.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" [(ngModel)]="resource.ownerId"  required>
                        <option *ngIf="!editForm.value.owner" [ngValue]="null" selected></option>
                        <option [ngValue]="aMSAUserOption.id" *ngFor="let aMSAUserOption of amsausers; trackBy: trackAMSAUserById">{{aMSAUserOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.owner?.dirty && editForm.controls.owner?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.owner?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
