<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTweetTemplateLabel" jhiTranslate="jhipsterSampleApplicationApp.tweetTemplate.home.createOrEditLabel">Create or edit a Tweet Template</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tweetTemplate.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tweetTemplate.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tweetTemplate.pattern" for="field_pattern">Pattern</label>
            <input type="text" class="form-control" name="pattern" id="field_pattern"
                [(ngModel)]="tweetTemplate.pattern" required/>
            <div [hidden]="!(editForm.controls.pattern?.dirty && editForm.controls.pattern?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.pattern?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tweetTemplate.descrizione" for="field_descrizione">Descrizione</label>
            <input type="text" class="form-control" name="descrizione" id="field_descrizione"
                [(ngModel)]="tweetTemplate.descrizione" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tweetTemplate.twitterKey" for="field_twitterKey">Twitter Key</label>
            <select class="form-control" id="field_twitterKey" name="twitterKey" [(ngModel)]="tweetTemplate.twitterKey" >
                <option [ngValue]="null"></option>
                <option [ngValue]="twitterKeyOption.id === tweetTemplate.twitterKey?.id ? tweetTemplate.twitterKey : twitterKeyOption" *ngFor="let twitterKeyOption of twitterkeys; trackBy: trackTwitterKeyById">{{twitterKeyOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
