<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="serviceOrder">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.serviceOrder.detail.title">Service Order</span> {{serviceOrder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.serviceOrder.state">State</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterSampleApplicationApp.OrderState.' + serviceOrder.state}}">{{serviceOrder.state}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/service-order', serviceOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
