<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-service-order-heading" jhiTranslate="jhipsterSampleApplicationApp.serviceOrder.home.createOrEditLabel">Create or edit a Service Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!serviceOrder.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="serviceOrder.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.serviceOrder.state" for="field_state">State</label>
                    <select class="form-control" name="state" [(ngModel)]="serviceOrder.state" id="field_state" >
                        <option value="PENDING">{{'jhipsterSampleApplicationApp.OrderState.PENDING' | translate}}</option>
                        <option value="WIP">{{'jhipsterSampleApplicationApp.OrderState.WIP' | translate}}</option>
                        <option value="INTRANSIT">{{'jhipsterSampleApplicationApp.OrderState.INTRANSIT' | translate}}</option>
                        <option value="DELIVERED">{{'jhipsterSampleApplicationApp.OrderState.DELIVERED' | translate}}</option>
                        <option value="CANCELLED">{{'jhipsterSampleApplicationApp.OrderState.CANCELLED' | translate}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
